--extra-index-url https://download.pytorch.org/whl/cu118

matplotlib==3.10.1
networkx==3.3
numpy==2.2.4
scikit_learn==1.6.1
scipy==1.15.2
torch==2.4.0+cu118
torchmetrics
torch_geometric==2.6.1
tqdm==4.66.5
